body {
  height: 100%;
  background-image: linear-gradient(lightblue,powderblue, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbotron {
  margin: 12px;
  border: solid black;
  padding: 50px;
  color: white;
  background-color: cornflowerblue;
}
#userInput{
  margin: 12px;
  border: solid slateblue;
  padding: 7px;
  background-color: turquoise;
}
#name { 
  margin: 12px;
  border: solid slateblue;
  padding: 7px;
  background-color: turquoise;
}
::placeholder {
  color: black;
}
.btn {
  margin: 12px;
  border: solid black;
  color: black;
}
.name{
  color: darkslategray;
}
.output {
  color: darkslategray;
}
@media screen and (max-width:480) and (min-width:300) {
  
}
@media screen and (max-width:1000) and (min-width:700) {
  
}